*{
    margin: 0px;
    padding: 0px;
    font-family: 'Public Sans', sans-serif;
}
ul{
    list-style: none;
}
body{
    font-size: 100%;
    line-height: 1.5em;
    width: 100vw;
}
/* defualt style */
p{
    font-size: 1rem;
    line-height: 1.8rem;
}
h1{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 3.125rem;
    line-height: 3.125rem;
}
h2{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
}
h3{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 2rem;
    line-height: 2.1rem;
}


/* FOOTER */
footer{
    grid-column: 1/-1;
    background-color: #33323D;
    color:white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    padding: 2em;
    text-align: center;
}
    .list_menu_links{
        display: flex;
        flex-direction: column;
    }
    .list_icon_social_network{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .icon_social_network_img{
            margin: 0.6em;
            place-self: center;
            fill: white;
        }