/* =========================== RESET CSS =========================== */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Public Sans', sans-serif;
}
ul{
    list-style: none;
}
body{
    font-size: 100%;
    line-height: 1.5em;
    width: 100vw;
}
/* defualt style */
p{
    font-size: 1rem;
    line-height: 1.8rem;
}
h1{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 3.125rem;
    line-height: 3.125rem;
}
h2{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
}
h3{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 2rem;
    line-height: 2.1rem;
}
/* ================================================================= */
/* BUTTONS */
.primary_btn{
    border: none;
    background-color: #203A4C;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    justify-content: center;
    align-content: center;
}
.primary_btn:hover,.primary_btn:focus {
    background-color: #5FB4A2;
}
.primary_btn:disabled,
button[disabled]{
    background-color: #D1D6DA;
}
    /* logo */
    .primary_btn_logo{
        padding: 1em;
    }
    .primary_btn_text{
        padding: 1em 2.5em;
    }
.secondary_btn{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: solid 1px grey;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
}
.secondary_btn:hover,.secondary_btn:focus{
    border-color: #33323D;
    color: white;
    background-color: #33323D;
}
.secondary_btn:disabled{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0.2);
}
/* hamburger */
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
svg,path,g{
    fill: red;
}
.hamburger_icon_nav{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
    .svg_hamburger{
        background-color: rgb(182, 182, 182);
    }
.menu_list{
    display: none; 
    grid-template-rows: repeat(3,1fr);
    row-gap: 1em;
    text-align: center;
    background-color: #33323D;
    padding: 3em;
}
    .menu_list a {
        margin: 2em 0px;
        color: white;
        text-decoration: none;
    }
    .menu_list a:hover{
        text-decoration: underline;
    }

/* FOOTER */
footer{
    grid-column: 1/-1;
    background-color: #33323D;
    color:white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    padding: 2em;
    text-align: center;
}
    .list_menu_links{
        display: flex;
        flex-direction: column;
    }
    .list_icon_social_network{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .icon_social_network_img{
            margin: 0.6em;
            place-self: center;
            fill: white;
        }