
:root{
    --margin_site:8%;
}

hr{
    color: rgb(228, 228, 228);
    margin: 2.3em 0px;
}
/* HEADER */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0rem;
}
/* BODY */
body{
    display: grid;
    grid-template-columns: var(--margin_site) auto var(--margin_site);
}
    body > main,header{
        grid-column: 2;
    }

/* HEAD SECTION */
.head_section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
}
    .head_section h1 {
        font-size: 2.6em;
    }
    .head_section img{
        max-width: 100%;
    }

/* ABOUT ME SECTION */
.about_section{
    margin-top: 5em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
}
    .about_section img{
        max-width: 100%;
    }
    .about_section h2{
        margin: 0.6em 0px;
    }

/* INTEREST SECTION */
.interest_section{
    margin: 1em 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
    place-items: center;
    text-align: center;
}
.interest_section .secondary_btn{
    margin: 1.5em 0px;
}
.primary_btn{
    margin-top: 2em;
}
.logo_site_footer{
    background-color: white;
    fill: currentColor;
}
footer > *{
    margin: 0.5em 0em;
}
    .list_menu_links > *{
        margin: 0.5em 0em;
    }