
:root{
    --margin_site:8%;
}

hr{
    color: rgb(228, 228, 228);
    margin: 2.3em 0px;
}
/* HEADER */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0rem;
}
/* BODY */
body{
    display: grid;
    grid-template-columns: var(--margin_site) auto var(--margin_site);
}
    body > main,header{
        grid-column: 2;
    }

/* HEAD SECTION */
.head_section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
}
    .head_section img{
        max-width: 100%;
    }

/* ABOUT ME SECTION */
.about_section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
}
    .about_section img{
        max-width: 100%;
    }

/* INTEREST SECTION */
.interest_section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
    place-items: center;
}

