button{
    font-size: 0.75em;
    padding: 1em 1.8em;
    border: solid 2px grey;
    background-color: rgba(0, 0, 0, 0);
    /* 17 35 */
    /* 48 175 */
}
body{
    display: grid;
    grid-template-columns: 8.5vw auto 8.5vw;
    padding-top: 8.5vw;
}
img{
    max-width: 80%;
}
body > *{
    grid-column: 2;

}
body > footer{
    grid-column: 1/4;
}
/* HEADER */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0rem;
}
article{
    display: grid;
    grid-template-rows: auto auto auto auto;
}
    .picture_article{
        
    }
    .img_article{
        min-width: 100%;
    }
    .article_title{
        margin: 0.6em 0px;
    }
    .article_para{
        margin-bottom: 1em;
    }
    .article_btn{
        margin: 2em 0px;
    }