
:root{
    --margin_site:8%;
}

hr{
    color: rgb(228, 228, 228);
    margin: 2.3em 0px;
}
h2{
    font-size: 2.5em;
}
/* HEADER */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0rem;
}
/* BODY */
body{
    display: grid;
    grid-template-columns: var(--margin_site) auto var(--margin_site);
}
    body > main,header{
        grid-column: 2;
    }

/* HEAD SECTION */
.head_section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
}
    .head_section h1 {
        margin-top: 0.8em;
        font-size: 2.5em;
    }
    .head_section img{
        max-width: 100%;
    }

/* ABOUT ME SECTION */
.about_section{
    margin-top: 5em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
}
    .about_section img{
        max-width: 100%;
    }
    .about_section h2{
        margin: 0.6em 0px;
    }

/* INTEREST SECTION */
.interest_section{
    margin: 1em 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
    place-items: center;
    text-align: center;
}
.interest_section .secondary_btn{
    margin: 1.5em 0px;
}
.primary_btn{
    margin-top: 2em;
}
.logo_site_footer{
    background-color: white;
    fill: currentColor;
}
footer > *{
    margin: 0.5em 0em;
}
    .list_menu_links > *{
        margin: 0.5em 0em;
        font-size: clamp(12px,1.5625vw,16px);
    }


    

@media screen and (min-width:768px) {
    .head_section{
        grid-template-columns: 75% 25%;
        grid-template-rows: auto 46%;
    }
        .head_section picture{
            grid-column: 1/3;
            grid-row: 1/3;
        }
        .head_section picture > img{
            min-width: 100%;
            height: 100%;
            object-fit:cover;
        }
        .head_section div{
            grid-column: 1;
            grid-row: 2;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
        .head_section button{
            margin: 0px;
        }
    .about_section{
        grid-template-columns: 44% auto;
        column-gap: 3em;
        justify-content: center;
        align-items: center;
    }
    .interest_section{
        margin: 3em 0px;
        grid-template-columns: 2fr 1fr;
    }
    footer{
        grid-template-columns: auto auto auto;
    }
        .list_menu_links{
            display: grid;
            grid-template-columns: auto auto auto;
            align-items: center;
            justify-content: center;
            column-gap: 1em;
        }
}

@media screen and (min-width:1440px){
    :root{
        --margin_site:16%;
    }
    .head_section{
        grid-template-columns: 1.2fr 2fr;
        grid-template-rows: 1fr 2fr;
    }
}
