<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&family=Public+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>Home</title>
</head>
<body>
    <header>
        <img src="../assets/logo.svg" alt="logo_portfolio">
        <nav>
            <button type="button" onclick="openMenu()" class="hamburger_icon_nav" aria-expanded="false"><img class="svg_hamburger" type="image/svg+xml" src="../assets/icons/hamburger.svg" alt="humberger menu"></button>
            <!-- list menu -->
            <ul class="menu_list"> 
                <li><a href="/">HOME</a></li>
                <li><a href="/">PORTFOLIO</a></li>
                <li><a href="/">CONTACT ME</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- head section -->
        <section class="head_section">
            <picture>
                <source media="(min-width:768px)" srcset="../assets/homepage/tablet/image-homepage-hero.jpg 1x, ../assets/homepage/tablet/image-homepage-hero@2x.jpg 2x">
                <source media="(min-width:1440px)" srcset="../assets/homepage/desktop/image-homepage-hero.jpg 1x, ../assets/homepage/desktop/image-homepage-hero@2x.jpg 2x">
                <!-- <source media="(min-width:465px)" srcset="img_white_flower.jpg"> -->
                <img src="../assets/homepage/desktop/image-homepage-hero.jpg" alt="un petit mec" style="width:auto;">
              </picture>
            <div>
                <h1>Hey, I’m Alex Spencer and I love building beautiful websites</h1>
                <button class="primary_btn" type="button"><img class="primary_btn_logo" src="../assets/icons/down-arrows.svg" alt="logo button"><span class="primary_btn_text">ABOUT ME</span></button>
            </div>
        </section>
        <!-- about me -->
        <section class="about_section">
            <picture>
                <source media="(min-width:768px)" srcset="../assets/homepage/tablet/image-homepage-profile.jpg 1x, ../assets/homepage/tablet/image-homepage-profile@2x.jpg 2x">
                <source media="(min-width:1440px)" srcset="../assets/homepage/desktop/image-homepage-profile.jpg 1x, ../assets/homepage/desktop/image-homepage-profile@2x.jpg 2x">
                <!-- <source media="(min-width:465px)" srcset="img_white_flower.jpg"> -->
                <img src="../assets/homepage/desktop/image-homepage-profile.jpg" alt="image de alex spencer">
              </picture>
            <article>
                <hr>
                <h2>About Me</h2>
                <p>
                    I’m a junior front-end developer looking for a new role in an exciting company. I focus on writing accessible HTML, using modern CSS practices and writing clean JavaScript. When writing JavaScript code, I mostly use React, but I can adapt to whatever tools are required. I’m based in London, UK, but I’m happy working remotely and have experience in remote teams. When I’m not coding, you’ll find me outdoors. I love being out in nature whether that’s going for a walk, run or cycling. I’d love you to check out my work.
                </p>
                <button class="secondary_btn">GO TO PORTFOLIO</button>
                <hr>
            </article>
        </section>
        <!-- interest section -->
        <section class="interest_section">
            <h2>Interested in doing a project together?</h2>
            <button class="secondary_btn">CONTACT ME</button>
        </section>
    </main>
    <footer>
        <img class="logo_site_footer" src="../assets/logo.svg" alt="logo site internet">
        <ul class="list_menu_links">
            <li><a href="/">HOME</a></li>
            <li><a href="/portfolio">PORTFOLIO</a></li>
            <li><a href="/contact">CONTACT ME</a></li>
        </ul>
        <ul class="list_icon_social_network">
            <li><img class="icon_social_network_img" src="../assets/icons/github.svg" alt="icon github"></li>
            <li><img class="icon_social_network_img" src="../assets/icons/twitter.svg" alt="icon twitter"></li>
            <li><img class="icon_social_network_img" src="../assets/icons/linkedin.svg" alt="icon linkedin"></li>
        </ul>
    </footer>
    <script src="../js/script.js"></script>
</body>
</html>