<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/index2.css">
    <title>Portfolio2</title>
</head>
<body>
    <header>
        <img class="img_article" src="../assets/logo.svg" alt="logo_portfolio">
        <nav>
            <button type="button" onclick="openMenu()" class="hamburger_icon_nav" aria-expanded="false"><img class="svg_hamburger" type="image/svg+xml" src="../assets/icons/hamburger.svg" alt="humberger menu"></button>
            <!-- list menu -->
            <ul class="menu_list"> 
                <li><a href="/">HOME</a></li>
                <li><a href="/">PORTFOLIO</a></li>
                <li><a href="/">CONTACT ME</a></li>
            </ul>
        </nav>
    </header>
    <script>

    </script>
    <main>
        <section>
            <ul>
                <li>
                    <article>
                        <picture class="picture_article">
                            <source media="(min-width:1440px)" srcset="../assets/homepage/desktop/image-homepage-hero.jpg 1x, ../assets/homepage/desktop/image-homepage-hero@2x.jpg 2x">
                            <img class="img_article" src="../assets/homepage/desktop/image-homepage-hero.jpg" alt="un petit mec" style="width:auto;">
                        </picture>
                        <hr>
                        <div>
                            <h2 class="article_title">Manage</h2>
                            <p class="article_para">This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity, such as the testimonial slider.</p>
                            <button class="article_btn">VIEW PROJECT</button>
                        </div>
                        <hr>
                    </article>
                </li>
                <li>
                    <article>
                        <picture class="picture_article">
                            <source media="(min-width:1440px)" srcset="../assets/homepage/desktop/image-homepage-hero.jpg 1x, ../assets/homepage/desktop/image-homepage-hero@2x.jpg 2x">
                            <img class="img_article" src="../assets/homepage/desktop/image-homepage-hero.jpg" alt="un petit mec" style="width:auto;">
                        </picture>
                        <hr>
                        <div>
                            <h2 class="article_title">Bookmark</h2>
                            <p class="article_para">This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity, such as the features section.</p>
                            <button class="article_btn">VIEW PROJECT</button>
                        </div>
                        <hr>
                    </article>
                </li>
                <li>
                    <article>
                        <picture class="picture_article">
                            <source media="(min-width:1440px)" srcset="../assets/homepage/desktop/image-homepage-hero.jpg 1x, ../assets/homepage/desktop/image-homepage-hero@2x.jpg 2x">
                            <img class="img_article" src="../assets/homepage/desktop/image-homepage-hero.jpg" alt="un petit mec" style="width:auto;">
                        </picture>
                        <hr>
                        <div>
                            <h2 class="article_title">Insure</h2>
                            <p class="article_para">This was a small project which mostly consisted of HTML and CSS. I built a fully-responsive landing page. The only JavaScript this project required was to enable the toggling of the mobile navigation.</p>
                            <button  class="article_btn">VIEW PROJECT</button>
                            <hr>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <picture class="picture_article">
                            <source media="(min-width:1440px)" srcset="../assets/homepage/desktop/image-homepage-hero.jpg 1x, ../assets/homepage/desktop/image-homepage-hero@2x.jpg 2x">
                            <img class="img_article" src="../assets/homepage/desktop/image-homepage-hero.jpg" alt="un petit mec" style="width:auto;">
                        </picture>
                        <hr>
                        <div>
                            <h2 class="article_title">Fylo</h2>
                            <p class="article_para">This project was built in pure HTML and CSS. I had mobile and desktop designs to work to and built it so that it was fully-responsive. I took a mobile-first approach and used modern CSS like Flexbox and Grid for layout purposes.</p>
                            <button  class="article_btn">VIEW PROJECT</button>
                        </div>
                        <hr>
                    </article>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <img class="logo_site_footer" src="../assets/logo.svg" alt="logo site internet">
        <ul class="list_menu_links">
            <li><a href="/">HOME</a></li>
            <li><a href="/portfolio">PORTFOLIO</a></li>
            <li><a href="/contact">CONTACT ME</a></li>
        </ul>
        <ul class="list_icon_social_network">
            <li><img class="icon_social_network_img" src="../assets/icons/github.svg" alt="icon github"></li>
            <li><img class="icon_social_network_img" src="../assets/icons/twitter.svg" alt="icon twitter"></li>
            <li><img class="icon_social_network_img" src="../assets/icons/linkedin.svg" alt="icon linkedin"></li>
        </ul>
    </footer>
</body>
</html>